$header-height: 14rem;
$footer-height: 6rem;

$sidebar-margin-right: 3rem;
$sidebar-left-width: 10.5rem;

$main-container-width: 90rem;
$main-container-padding-sides: 2rem;
$main-container-full-width: calc(
  #{$main-container-width} + (2 * #{$main-container-padding-sides})
);

$container-full-width: 60rem;

$container-margin: 2rem;

$bottom-margin-big: 6.3rem;
$bottom-margin-medium: 4.2rem;
$bottom-margin-small: 2.1rem;
$bottom-margin-mini: 0.7rem;
