@import 'colors.scss';

@font-face {
  font-family: 'RobotoSlabLight';
  src: url(../../fonts/Roboto_Slab/RobotoSlab-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoSlabRegular';
  src: url(../../fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url(../../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: url(../../fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

//---------------------------------------------------------
//   SITE FONT STANDARDS
//---------------------------------------------------------

$font-size-paragraph: 1.5rem;

$font-size-H1: 5.5rem;
$font-size-H2: 2.6rem;
$font-size-H3: 1.7rem;
$font-size-H4: $font-size-H3;

$line-height-standard: 2.1rem;
$line-height-double: 4.2rem;

@mixin font-family-serif($font) {
  font-family: $font, 'Courier', 'Times New Roman', serif;
}

@mixin font-family-sans-serif($font) {
  font-family: $font, 'Helvetica', 'Arial', sans-serif;
}

html {
  font-size: 10px;
  line-height: $line-height-standard;
  /*Safari specific change*/
  -webkit-text-size-adjust: none;
}

body {
  @include font-family-sans-serif(BasicParag);

  font-size: $font-size-paragraph;
  line-height: $line-height-standard;
  margin: auto;
}

//---------------------------------------------------------
//   RESPONSIVE

@media screen and (max-width: 860px) {
  html {
    font-size: 8px;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 12px;
  }
}

//---------------------------------------------------------

h1 {
  @include font-family-serif(RobotoSlabRegular);

  font-size: $font-size-H1;
  line-height: 1.2;
  text-transform: uppercase;
  color: $color-grey-dark;
  //margin-top: $line-height-standard;
  //margin-bottom: $line-height-double;
}

h2 {
  @include font-family-serif(RobotoSlabRegular);

  font-size: $font-size-H2;
  line-height: $line-height-double;
  letter-spacing: 1px;
  color: $color-grey-dark;
  //margin-top: $line-height-standard;
  //margin-bottom: $line-height-standard;
}

h3 {
  @include font-family-sans-serif(RobotoSlabRegular);
  font-size: $font-size-H3;
  line-height: $line-height-standard;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  //margin-top: $line-height-standard;
  //margin-bottom: 0;
}

h4 {
  @include font-family-sans-serif(RobotoMedium);
  font-size: $font-size-H4;
  //line-height: 1.5;
  color: $color-text;
  //margin-top: $line-height-standard;
  //margin-bottom: 0;
}

ul,
ol,
pre,
table,
blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0.5rem 0;
}

//---------------------------------------------------------
//  SHARED ELEMENTS

a {
  @include font-family-serif(RobotoSlabRegular);
}

//---------------------------------------------------------
