@import 'base/colors';
@import 'base/measurements';
@import 'abstracts/mixins';

//---------------------------------------------------------
//   S I T E  CONTAINER
//---------------------------------------------------------

.site-container {
  margin: 0 auto;
  width: $main-container-width;
  max-width: 100%;
  padding: 0 $main-container-padding-sides;
}

img {
  max-height: 20rem;
  width: auto;
  max-width: 100%;
}

.container {
  width: $container-full-width;
}

.flex-item {
  min-width: 21rem;
}

hr {
  margin: $bottom-margin-small 0;
}

//---------------------------------------------------------
//   H E A D E R
//---------------------------------------------------------

header {
  //  position: fixed;
  //  height: calc(#{$header-height} + 0.5rem);
  //  width: $main-container-full-width;
  //  max-width: 100%;
  //  padding: 0 $main-container-padding-sides 0.5rem;
  //
  //  /// centering
  //  left: 50%;
  //  -webkit-transform: translateX(-50%);
  //  -moz-transform: translateX(-50%);
  //  -ms-transform: translateX(-50%);
  //  -o-transform: translateX(-50%);
  //  transform: translateX(-50%);
  //  z-index: 10;

  display: flex;
  align-items: flex-end;
  height: $header-height;
  margin-bottom: $bottom-margin-medium;

  a {
    border-bottom: 0;
  }

  img {
    margin-right: $container-margin;
    width: 10rem;
  }

  .nav-branding {
    width: 100%;

    h1 {
      margin-bottom: $bottom-margin-mini;
    }

    nav {
      ul {
        display: flex;
        flex-flow: row wrap;
        margin-left: 0;
      }

      li {
        margin-right: 2rem;
        list-style: none;
      }
    }
  }
}

//---------------------------------------------------------
//  responsive HEADER

@media screen and (max-width: 660px) {
  header {
    h1 {
      font-size: 4rem;
    }
  }
}

//---------------------------------------------------------

//---------------------------------------------------------
//   M A I N
//---------------------------------------------------------

main {
  //width: 100%;
  //
  //// leave room for the fixed header
  ////padding-top: calc(#{$bottom-margin-small} + #{$bottom-margin-big});
  //padding-top: calc(#{$header-height} + #{$bottom-margin-big});
  //
  // simple way to get a sticky footer
  min-height: calc(
    100vh - #{$footer-height} - #{$header-height} - #{$bottom-margin-medium}
  );

  .home-wrapper {
    display: flex;
    flex-flow: row wrap;

    .profile-img {
      text-align: center;
      margin-left: calc(-2 * #{$container-margin});
      margin-right: 4rem;

      img {
        height: auto;
      }
    }

    .profile-txt {
      width: 61rem;
      max-width: 100%;
      margin-bottom: $bottom-margin-medium;
    }
  }

  .what-i-use,
  .learning-now,
  .up-next {
    display: flex;
    flex-flow: row wrap;

    & > li {
      list-style-type: none;
    }

    ul:first-of-type {
      //border: 1px solid tomato;
      list-style-position: inside;
    }
  }
}

//---------------------------------------------------------
//  responsive MAIN

@media screen and (max-width: 680px) {
  main .home-wrapper {
    .profile-img {
      order: 1;
      margin: 0 auto;
    }
  }
}

//---------------------------------------------------------

//---------------------------------------------------------
//   F O O T E R
//---------------------------------------------------------

footer {
  background-color: $color-grey-medium;
  padding: 1rem $container-margin;
  width: 100%;
  min-height: $footer-height;
  color: white;
}
