@import "../assets/css/base/colors";

.header {
  border: 1px solid red;
  padding: 1rem 0 3rem;

  .branding {
    border: 1px solid black;

  }

}

.nav-item {
  color: #185612;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #56252b;
}

.active-nav-item {
  color: #724515;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}
